@import '../../variables.scss';

.dropdown {
	display: inline-block;
	position: relative;
	width: 100%;
	font-family: 'Spiegel';
	color: $lcu-text-dark;
	letter-spacing: 0.025rem;
	outline: none;

	&, & div {
		box-sizing: border-box;
		margin: 0;
	}

	.control {
		padding: 9px 14px;
		background-color: rgba(30,35,40,0.5);
		border: 1px solid transparent;
		border-image: linear-gradient(to top,#695625 0%,#A9852D 23%,#B88D35 93%,#C8AA6E 100%) 1;
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			background: linear-gradient(to top,rgba(88,83,66,0.5),rgba(30,35,40,0.5));
			border: 1px solid transparent;
			border-image: linear-gradient(to top,#c89b3c,#f0e6d2) 1;
		}

		&.active {
			background: rgba(30,35,40,0.5);
			color: #463714;
			border: 1px solid #463714;
		}

		.arrow {
			position: absolute;
			right: 0;
			padding: 0 10px;
			cursor: pointer;
			background: url('./up-down-arrow.png') no-repeat;
			height: 100%;
		}
	}

	.options {
		position: absolute;
		top: 100%;
		width: 100%;
		max-height: 250px;
		overflow-y: auto;
		overflow-x: hidden;
		background: #010A13;
		border: 1px solid transparent;
		border-image: linear-gradient(to top, #695625, #463714) 1;
//		transition: max-height 200ms linear;
		z-index: 10;

		&.hidden {
			max-height: 0px;
			border: 0;
			& > .option {
				display: none;
			}
		}

		.option {
			position: relative;
			color: #CDBE91;
			cursor: pointer;
			overflow-x: hidden;
			padding: 9px 9px;
			border-top: 1px solid #1F2123;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover {
				color: #f0e6d2;
				background-color: #1e2328;
			}

			&:active {
				color: #463714;
				background-color: rgba(30,35,40,0.5);
			}

			&.selected::after {
				content: '';
				background: url('./dropdown-check.png') center no-repeat;
				width: 14px;
				height: 11px;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translate(0,-50%);
			}
		}
	}
}
