@import '../../variables.scss';

$control-background: $black;

.control {
	user-select: none;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	color: $gold-medium;
	background: $control-background;
	padding: 10px 14px;
	border: 1px solid transparent;
	border-image: linear-gradient(
			to top,
			#695625 0%,
			#a9852d 23%,
			#b88d35 93%,
			#c8aa6e 100%
		)
		1;

	&:hover:not(.open),
	&:focus {
		background: linear-gradient(
			to top,
			rgba(88, 83, 66, 0.5),
			rgba(30, 35, 40, 0.5)
		);
		border: 1px solid transparent;
		border-image: linear-gradient(to top, #c89b3c, #f0e6d2) 1;
	}

	&.open,
	&:active {
		color: $border-dark;
		border: 1px solid $border-dark;
		border-image: none;
	}

	&.transparent {
		background: transparent;
		border: 1px solid transparent;
		border-bottom: none;
		transition: all 0.4s ease;
		color: $gold-medium;

		&:active {
			background: $rich-black;
		}

		&.open {
			border: 1px solid $border-dark;
			border-bottom: none;
			background: $rich-black;
		}
	}
}

.menu {
	position: absolute;
	top: 100%;
	width: 100%;
	max-height: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
	background: #010a13;
	opacity: 0;
	border: 1px solid #453617;
	border-top: none;
	z-index: 10;
	transition: all 0.4s ease;

	&.open {
		max-height: 240px;
		opacity: 1;
		overflow-y: auto;
	}
}
