{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "chrome": "58",
          "ie": "11"
        },
        "modules": false
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
