@import '../../variables.scss';

$radio-border: linear-gradient(to bottom, rgb(62.7%, 48.2%, 18%) 0%, rgb(43.5%, 32.5%, 14.5%) 80%);
$radio-border-hover: linear-gradient(-45deg, rgb(78.8%, 61.6%, 24.7%) 0%, rgb(92.9%, 87.8%, 78%) 80%);
$radio-border-pressed: linear-gradient(-45deg, #684e23 0%, #493915 80%);
$radio-border-disabled: rgb(23.5%, 21.6%, 19.6%);

.radioOption {
	font-family: 'LoL Body';
	color: $lcu-gold-medium;
	cursor: pointer;
	padding: 0.5rem 0;
	outline: none;

	input[type="radio"] {
		opacity: 0;
		position: absolute;

		&:focus + label, label:hover, label:focus {
			color: $lcu-gold;

			.checkbox {
				border-image: $radio-border-hover;
				border-image-slice: 1;
			}
		}
	}

	.label {
		display: inline-block;
		outline: none;

		.labelText {
			font-weight: normal;
    	letter-spacing: .05rem;
			margin-left: 0.8rem;
		}

		.checkbox {
			display: inline-block;
			transform: rotateZ(45deg);
			position: relative;
			width: 0.6rem;
			height: 0.6rem;
			border: 0.15rem solid transparent;
			border-image: $radio-border;
			border-image-slice: 1;

			.square {
				backface-visibility: hidden;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0.1rem;
			}
		}

		&:active {
			.checkbox {
				border-image: $radio-border-pressed;
				border-image-slice: 1;
			}
		}
	}


}

.radioOption.checked {
	.label {
		color: $lcu-gold;

		.square {
			background: $lcu-gold-medium;
		}

		&:active {
			.checkbox {
				.square {
					background: $radio-border-pressed;
				}
			}
		}
	}
}

.radioOption.disabled {
	cursor: default;

	.checkbox {
		border: 2px solid $radio-border-disabled;
		border-image: none;
	}

	&:hover {
		color: $lcu-gold-medium;
	}
}
