@import '../../variables.scss';

.input {
	display: inline-block;
	min-width: 200px;
	position: relative;
	font-family: 'Spiegel';

	.clear {
		position: absolute;
		top: 0;
		right: 7px;
		bottom: 0;
		margin: auto;
		font-size: 1.3em;
		transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
		background-color: darken($text-light, 10%);
		cursor: pointer;
		mask-image: url('./close.svg');
		height: 0.75em;
		width: 0.75em;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		user-select: none;

		&:hover {
			background-color: lighten($text-light, 10%);
		}

		&:active {
			background-color: #785a28;
		}

		&.show {
			opacity: 1;
			visibility: visible;
		}
	}

	input[type='search'] {
		background-image: url('../../assets/search-icon.png');
		background-size: 1.3em;
		background-position: 5px center;
		background-repeat: no-repeat;
		padding-left: 1.8em;

		&:focus {
			background: 5px center/1.3em url('../../assets/search-icon.png'),
				linear-gradient(to bottom, rgba(7, 16, 25, 0.7), rgba(32, 39, 44, 0.7));
			background-repeat: no-repeat;
		}
	}

	.inputElement {
		width: 100%;
		padding: 10px 21px;
		color: $text-dark;
		display: block;
		box-sizing: border-box;
		border: 1px solid #785a28;
		background-color: rgba(0, 0, 0, 0.7);
		appearance: none;
		outline: none;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset,
			0 0 0 1px rgba(0, 0, 0, 0.25);

		&:focus {
			background: linear-gradient(
				to bottom,
				rgba(7, 16, 25, 0.7),
				rgba(32, 39, 44, 0.7)
			);
			border-image: linear-gradient(to bottom, #785a28, #c8aa6e) 1 stretch;
		}

		&:placeholder-shown {
			font-size: 1em;
		}
	}
}

.input.disabled {
	.inputElement,
	.inputElement:focus {
		background: #1e2328;
		border-image: none;
		border-color: #3c3c41;
	}

	.clear {
		background-color: #3c3c41;
		cursor: default;
	}
}
