.slot.quintessence {
	&:hover {
		.slotInner {
			fill: url(#quintHighlightInner);
		}
		.slotMiddle {
			fill: url(#quintHighlight);
//      stroke: url(#quintHighlight);
		}
	}
	&:active {
		.slotOuter {
			fill: url(#quintHover);
		}
	}

  .slotOuter {
    fill: #010a13;
    stroke: #6B5024;
  }
  .slotInner {
    //  fill: #0E1116;
    fill: url(#slotInner);
  }
  .slotMiddle {
    fill: #211F22;
    stroke: #15171B;
  }
}

.rune.quintessence {
	.slotInner {
		fill: #0e141e;
	}

	.slotMiddle {
		fill: url(#quintMiddle);
	}

	.slotOuter {
		fill: url(#quintOuter);
		stroke: url(#quintOuterStroke);
		stroke-width: 7px;
	}
}

.slotInner {
	stroke: #15171B;
	stroke-width: 2px;
}

.slotOuter {
	stroke-width: 2px;
	stroke-miterlimit: 10;
}

.slotMiddle {
	stroke-miterlimit: 10;
}
