.rune {}

.quintessence {

  &:hover {
		.st1 {
      opacity: 0.8
    }
    .st2 {
      fill: url(#quintSelect);
//      stroke: url(#quintSelect);
    }
  }

  &:active {
    .st0 {
      fill: url(#quintSelectOuter);
    }
  }
}

.st0{fill:#0E1116;stroke:#6B5024;stroke-miterlimit:10;}
.st1{fill:#0E1116;}
.st2{fill:#211F22;stroke:#15171B;stroke-miterlimit:10;}
