$fill: linear-gradient(to left, #695625, #463714);
$fill-hover: linear-gradient(to right, #785a28 0%, #c89b3c 56%, #c8aa6e 100%);
$fill-active: linear-gradient(to right, #695625, #463714);

.sliderInput {
	position: relative;
	display: inline-block;
	line-height: 0;
	width: 100%;

	input[type="range"] {
		outline: none;
		width: 100%;
		background: rgb(30, 35, 40);
		height: 2px;
		pointer-events: none;

		&::thumb {
			position: relative;
			background-image: url('./idle.svg');
			background-position: center;
			background-repeat: none;
			background-size: cover;
			height: 30px;
			width: 30px;
			z-index: 2;
			filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
			pointer-events: auto;

			&:hover {
				background-image: url('./hover.svg');
			}
		}

		&:focus {
			&::thumb {
				background-image: url('./hover.svg');
			}
		}

		&:hover + .fill {
		  background: $fill-hover;
		}

		&:active + .fill {
			background: $fill-active;
		}

		&:active {
			&::thumb {
				background-image: url('./active.svg');
			}
		}

		&::track {
			border: 0;
			width: 100%;
			margin-right: -1px;
		}
	}

	.fill {
		position: absolute;
		bottom: 0;
		height: 3px;
		background: $fill;
		pointer-events: none;
		z-index: 1;
	}

	.tooltip {
		position: absolute;
		opacity: 0;
		transition: opacity 0.15s ease-in;

		&.show {
			opacity: 1;
			transition: opacity 0.3s ease-in 0.15s;
		}
	}
}

.sliderInput.disabled {
	input[type="range"] {
		outline: none;
		width: 100%;
		background: rgb(30, 35, 40);
		height: 2px;
		pointer-events: none;

		&::thumb {
			background-image: url('./disabled.svg');
			pointer-events: none;
		}
	}

	.fill {
		display: none;
	}

	.tooltip {
		display: none;
	}
}

