$gold: rgb(240, 230, 210);
$gold-medium: rgb(205, 190, 145);
$gold-dark: rgb(200, 155, 60);

$black: rgb(17, 22, 29);
$rich-black: rgb(1, 11, 19);
$gunmetal: rgb(30, 35, 40);

$text-light: $gold;
$text-dark: rgb(160, 155, 140);
$text-disabled: rgb(92, 91, 87);

$border: rgba(155, 125, 35, 0.5);
$border-dark: rgb(70, 55, 20);
$border-input: rgb(120, 90, 40);

$bg-dark: rgb(1, 18, 35);
