.slotOuter {
	fill: #010A13;
	fill-opacity: 0.5;
}

.slotInner {
	fill: none;
	stroke: #362D1B;
	stroke-miterlimit: 10;
}

.slotMiddle {
	fill: none;
	stroke: #6B5024;
	stroke-width: 3;
	stroke-miterlimit: 10;
}

.st3 {
	fill: none;
	stroke: #6B5024;
	stroke-miterlimit: 10;
}
